.root {
    -fx-background-color: #1A1A1A;
    -fx-text-fill: #6A1B9A;
}

.header {
    -fx-text-fill: #6A1B9A;
    -fx-font-size: 16px;
    -fx-alignment: center;
    -fx-padding: 50px 0 15px 0;
}

.subheader {
    -fx-text-fill: #6A1B9A;
    -fx-font-size: 14px;
    -fx-alignment: center;
    -fx-padding: 15px 0 0 0;
}
